/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 may 2023, 20:03:56
    Author     : Daniel
*/

#audio{
    align-items: center;
    display: flex;
    justify-content: center;
}

.content{
    align-items: center;
    display: flex;
    justify-content: center;
}

.header{
    background: black;
    color: #fdf5e6;
    witdh: 100%;
    height: fit-content;
    padding: 10px;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between
}

a{
    text-decoration: none;
    color: white;
}

.home{
    font-size: 26px;
}