<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda</title>        
    </head>
     <div style="background-color: #fdf5e6">
        <div style="border: 4px solid #ffb819">
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{carrito/fragmentos :: listadoProductos}"/>
        <article style="text-align: center">
                                      
                        <p style ="font-size: 20px">Contactanos para mas informacion</p>   
                    </article>
                </header> 
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body> 
</html>
